test.txt
.ipynb_checkpoints
.gitignore.bak
world.db
test.db
album.db
chinook.db
.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt
.gitignore.bak
.ipynb_checkpoints/sqlite-checkpoint.ipynb
*.ipynb
